<h1>Register</h1>

<!--@if (errorMessage) {-->
<!--  <div>{{ errorMessage }}</div>-->
<!--}-->

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <input formControlName="username" placeholder="Username" type="text"/>
  </div>
  <div>
    <input formControlName="email" placeholder="Email" type="text"/>
  </div>
  <div>
    <input formControlName="password" placeholder="Password" type="password"/>
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
